@model Shlock_A.Models.Student_Information

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student_Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Xueshengxingming)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Xueshengxingming)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Xueshengxingbie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Xueshengxingbie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Xueshengxuehao }) |
    @Html.ActionLink("Back to List", "Index")
</p>
